{% extends 'layout.html' %}

{% block content %}
<button type="button" class="btn btn-default" style="background-color: #{{ c0 }}; color: #{{ c0 }}"> _ </button>
<button type="button" class="btn btn-default" style="background-color: #{{ c1 }}; color: #{{ c1 }}"> _ </button>
<button type="button" class="btn btn-default" style="background-color: #{{ c2 }}; color: #{{ c2 }}"> _ </button>
<button type="button" class="btn btn-default" style="background-color: #{{ c3 }}; color: #{{ c3 }}"> _ </button>
{{ wtf.quick_form(form, button_map={'submit':'primary'}) }}

{% endblock %}
